/*Group: B4*/
/*Object: Infography Project 1*/
/*Date: 18 november 2019*/
/*Tristan Seuret*/
/*Nathan Latino*/
/*Sol Rosca*/

body {
    margin: 0;
}

.container {
    margin-left: 30px;
}

h1 {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

footer {
    bottom: 0;
    position: fixed;
    margin-left: 30px;
    margin-bottom: 10px;
}

.columns {
    display: flex;
}
.left-col {
    width: 645px;
}

.right-col {
}

.description {
    margin-top: 10px;
    width: 500px;
}

#scenes {
    margin: 10px;
}

#canvas {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    display: block;
}

#uiCenter {
    margin-right: 50px;
    margin-left: 50px;
}

.item {
    display: inline-block;
    margin: 20px;
    box-shadow: 11px 7px 27px -12px rgba(0, 0, 0, 0.75);
}

.view {
    width: 600px;
    height: 600px;
}

.uiContainer {;
    position: absolute;
    display: flex;
    margin-top: 60px;
    margin-bottom: 10px;
}

